{% extends "admin_temp/admin_master.html" %}
{% load static %}

{% block title %}admin panel{% endblock %}


{% block head %}
<style>
    .main1{
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub1{
        width: 90%;
     
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 1px 1px 1px 1px rgba(233, 232, 228, 0.587);
    }
    .tbtitile{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2a2185;
    }
    table{
        width: 100%;
  border-collapse: collapse;

    }
    th{
        height: 35px;
        text-align: center;
    }
    td{
        text-align: center;
        height: 25px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
    tr:hover{
        background-color: #2a2185;
        color: white;
    }



</style>
{% endblock %}

{% block body %}
<div class="main1">
    <div class="sub1">
        <div class="tbtitile"><h2>Complaints</h2></div>
        <table>
            <tr>
                <th style="width: 40px;"><h4>S No</h4></th>
                <th><h4>customer</h4></th>
                <th  style="width: 300px;"><h4>Response</h4></th>
                <th>remove</th>
            </tr>
            {% for complaint in complaints %}
            <tr>
                <td style="width: 40px;">{{ forloop.counter }}</td> 
                <td>{{complaint.customer.name}}</td>
                <td>
                    <textarea  name="" id="" cols="30" rows="10">{{complaint.complaint}}</textarea>
                </td>
                <td style="width: 150px;">
                    <button>remove</button>
                </td>
            </tr>
            {% endfor %}
         
        </table>
    </div>
</div>
{% endblock %}
